.card {
  display: flex;
  flex-direction: row;
  max-width: 650px;
  border-radius: 10px;
  margin: 20px 0;
  @include maxBreakpoint($mobileLarge) {
    flex-direction: column;
  }
}
.card__img {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  @include maxBreakpoint($mobileLarge) {
    height: 250px;
  }
}
.card__content {
  margin: 25px;
  p:first-of-type {
    letter-spacing: 5px;
  }
  h1 {
    color: $darkColor;
    margin: 15px 0;
    font-family: "Fraunces", sans-serif;
  }
  .btn {
    width: 100%;
    svg {
      width: 15px;
      height: 15px;
      margin-inline-end: 10px;
      fill: $white;
    }
  }
}
.card__peice {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-family: "Fraunces", sans-serif;
  h2 {
    color: $primaryColor;
    margin-inline-end: 20px;
  }
  h3 {
    font-size: 16px;
    font-weight: lighter;
    text-decoration: line-through;
    color: $grayishColor;
  }
}
