$primaryColor: hsl(158, 36%, 37%);
$creamColor: hsl(30, 38%, 92%);
$darkColor: hsl(212, 21%, 14%);
$grayishColor: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);

$desktopLarge: 1440px;
$desktopNormal: 1200px;
$desktopSmall: 1024px;
$tabletLarge: 991px;
$tablet: 768px;
$mobilexLarge: 640px;
$mobileLarge: 426px;
$mobileMedium: 375px;
$mobileSmall: 320px;
