@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("./assets/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("./assets/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Fraunces";
  font-weight: 500;

  src: url("./assets/fonts/Fraunces-Medium.ttf");
}
@font-face {
  font-family: "Fraunces";
  font-weight: 700;

  src: url("./assets/fonts/Fraunces-Bold.ttf");
}

@import "~bootstrap/scss/bootstrap";

@import "assets/scss/variables";
@import "assets/scss/buttons";
@import "assets/scss/mixins";
@import "assets/scss/global";
@import "assets/scss/card";
